<!DOCTYPE html>
<html ng-app="ShoppingApp">
	<head>
		<title>View Products</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<script src="js/shopping.js"></script>
		 <link rel="stylesheet" href="css/Style.css">
	</head>
	<body ng-controller="ProductController as prodCtrl">
		<div ng-include="'menu.html'" ></div>
		<h1>Products</h1>
		<h2> Select a category: </h2> 

		<button ng-repeat="cat in prodCtrl.categories" ng-click="prodCtrl.selectCategory(cat)">{{cat}}</button
		<div></div>
	
		<table ng-controller="ShoppingCartController as cartCtrl">
			<tr>
				<th>Name</th>
				<th>Description</th> 
				<th>Category</th> 
				<th>Price</th>
				<th>Available</th>
			</tr>
			<tr ng-repeat="product in prodCtrl.products">
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
				<td>{{product.category}}</td>
				<td>{{product.listPrice| currency}}</td>
				<td>{{product.quantityInStock}}</td>
				<td><button ng-click="cartCtrl.buy(product)">Buy</button></td>
			</tr>
		</table>
	</body>
</html>
